@font-face {
    font-family: mySignerica;
    src: url(../fonts/signerica/Signerica_Medium.ttf);
}

@font-face {
    font-family: myRileyFrost;
    src: url("../fonts/riley_frost/Riley Frost.ttf");
}

.h-img-parent {
    background-image: url("https://hectorlr22.imgix.net/imgix/Anillo-7.jpg?w=2736&h=1824&auto=undefined%2Ccompress");
    background-size:cover;
    background-position: center;
    height: 600px;
    position: relative;
}

.h-img-parent:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.5);
}

.h-img-parent .text-shadow, .h-img-parent p {
    /*text-shadow: 2px 2px 5px #000000;*/
    position: relative;
}

.img-fondo {
    background-image: url("https://hectorlr22.imgix.net/imgix/fondo2.jpg?w=1500&h=2100&auto=undefined%2Ccompress");
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.font-signerica {
    font-family: mySignerica;
}

.font-riley {
    font-family: myRileyFrost;
}

.back-color-green {
    background-color: rgb(38, 51, 46);
}

.color-green {
    color: rgb(38, 51, 46);
}

.row {
    margin-right: 0px !important;
    --bs-gutter-x: 0 !important;
}
